@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to BDSA21 SE_training</h1>

<h3> by the group Dwarfs and Giants</h3>
<p>
This is our slice for BDSA 2021 exam assignment.<br>hence certain features will not be available since they are not a part of our slice
</p>



