@page "/searchMaterial/{SearchString}"
@attribute [Authorize]


<PageTitle>searchMaterial</PageTitle>

<h1>searchMaterial</h1>
<h2>Search keywords @SearchString</h2>


<Table SearchString="@SearchString"/>

@code{


    [Parameter]
    public string SearchString { get; set; }

}