@page "/specifikMaterial/{id}"


<PageTitle>SpecifikMaterial </PageTitle>


<h1> The chosen materials id is @Id </h1>

<h2>@reating</h2>
<p>@decription</p>
@* @foreach (var tag in tags)
{


} *@

<h1> @message </h1>


<p>Open a PDF file <a href="MaterialsData/test.pdf">example</a>.</p>
<h1>PDF Example with iframe</h1>
    <iframe src="MaterialsData/test.pdf" width="80%" height="1000px">
    </iframe>

@* @foreach (var material in recommendedMaterial)
{

}
@foreach (var comment in comments)
{

} *@


@code {

  [Parameter]
    public string Id { get; set; }


public string decription{ get; set; }
public int reating{ get; set; }
public List<string> tags{ get; set; }
public List<string> recommendedMaterial{ get; set; }
public List<Material> comments{ get; set; }
    public string message{ get; set; }

    protected override void OnInitialized()
    {
        message = $"Initialized at {DateTime.Now}";
    }
}
